html{
    font-family: 'Aclonica';
    font-size: 18px;
}

body{
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    align-items: center;
    margin: auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

#gameWrapper{
    background-color: brown;
    border: 2px solid #303030;
}